<extend name="Public/common"/>
<block name="title"></block>
<block name="heardercss"></block>
<block name="hearderjs"></block>
<block name="login"></block>
<block name="main">
<include file="Public/crumbsNav" />
<div class="page-container">
	<include file="Aaa/parts/search-top" />
	<include file="Public/button-top" />
	<include file="Aaa/parts/index-lists" />
	<include file="Public/button-top" />
</div>
</block>
<block name="footjs">
<include file="Aaa/parts/index-js" />
</block>