<div class="mt-5">
<table class="table table-border table-bordered table-bg table-hover table-sort tabwidth">
    <thead>
		<tr class="text-l">
			<th width="2%" class="td_id">id</th>
			<th width="8%" data-field="td_phone">账号</th>
			<th width="5%" data-field="td_account_person">开户人</th>
			<th width="10%" data-field="td_bank_account">银行账号</th>
			<th width="5%" data-field="td_certificates_type">证件类型</th>
			<th width="5%" data-field="td_document_name">证件姓名</th>
			<th width="10%" data-field="td_certificates_number">证件号</th>
			<th width="8%" data-field="td_ID_front_img">身份证正面照片</th>
			<th width="8%" data-field="td_ID_back_img">身份证反面照片</th>
			<th width="8%" data-field="td_license_img">营业执照</th>
			<th width="8%" data-field="td_create_time">时间</th>
			<th width="5%" data-field="td_check_status">审核状态</th>
			<th width="8%" data-field="td_done">操作</th>
		</tr>
    </thead>
    <tbody>
		<notempty name="_list">
		<volist name="_list" id="vo">
		<tr>
			<td class="td_id" title="{$vo.id}"><input type="checkbox" value="{$vo['id']}" name="ids[]" id="selectid_{$vo['id']}"></td>
			<td class="td_phone">{$vo.phone}</td>
			<td class="td_account_person">{$vo.account_person}</td>
			<td class="td_bank_account">{$vo.bank_account}</td>
			<td class="td_certificates_type">{$vo.certificates_type}</td>
			<td class="td_document_name">{$vo.document_name}</td>
			<td class="td_certificates_number">{$vo.certificates_number}</td>
			<td class="td_ID_front_img"><notempty name="vo.id_front_img"><img src="{$vo.id_front_img}" width="80" height="80"><else />---</notempty></td>
			<td class="td_ID_back_img"><notempty name="vo.id_back_img"><img src="{$vo.id_back_img}" width="80" height="80"><else />---</notempty></td>
			<td class="td_license_img"><notempty name="vo.license_img"><img src="{$vo.license_img}" width="80" height="80"><else />---</notempty></td>
			<td class="td_create_time">{$vo.create_time}</td>
			<td class="td_status"><if condition="$vo.check_status eq 1">审核中<elseif condition="$vo.check_status eq 2"/><font color="green">审核通过</font><elseif condition="$vo.check_status eq 3"/><font color="red">审核不通过</font></if></td>
			<td class="td_done"><include file="Public/button-right" /></td>
		</tr>
		</volist>
		<else/>
		<tr><td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td></tr>
		</notempty>
	</tbody>
</table>
</div>