<include file="Public/form" />
<div class="row cl">
	<div class="formControls col-xs-8 col-sm-12">
		<notempty name="category_list">
		<volist name="category_list" id="cate1" key="key1">
		<dl class="permission-list">
			<dt>
				<label><input type="checkbox" value="{$cate1.id}" name="rules[]" id="user-Character-{$key1}">{$cate1.name}</label>
			</dt>
			<present name="cate1['_']">
			<dd>
				<volist name="cate1['_']" id="cate2" key="key2">
				<dl class="cl permission-list2">
					<dt>
						<label class=""><input type="checkbox" value="{$cate2.id}" name="rules[]" id="user-Character-{$key1}-{$key2}">{$cate2.name}</label>
					</dt>
					<notempty name="cate2['_']">
					<dd>
						<volist name="cate2['_']" id="cate3" key="key3">
							<label class=""><input type="checkbox" value="{$cate3.id}" name="rules[]" id="user-Character-{$key1}-{$key2}-{$key3}">{$cate3.name}</label>
                        </volist>
					</dd>
					</notempty>
				</dl>
				</volist>
			</dd>
			</present>
		</dl>
		</volist>
		</notempty>
	</div>
</div>
<input type="hidden" name="id" value="{$this_group.id}" />
<div class="row cl">
	<div class="col-xs-{$col_xs3} col-sm-{$col_sm3} col-xs-offset-{$col_xs_offset1} col-sm-offset-{$col_sm_offset1}">
		<button class="btn btn-secondary radius" type="submit" ><i class="Hui-iconfont">&#xe632;</i>保存</button>
		<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
	</div>
</div>