<div class="mt-5">
<table class="table table-border table-bordered table-bg table-hover table-sort tabwidth">
    <thead>
		<tr class="text-l">
			<th width="15%" data-field="td_name">图片</th>
			<th width="10%" data-field="td_status">名称</th>
			<th width="10%" data-field="td_status">内容</th>
			<th width="15%" data-field="td_create_time">添加时间</th>
			<th width="15%" data-field="td_update_time">修改时间</th>
			<th width="15%" data-field="td_done">操作</th>
		</tr>
    </thead>
	<tbody>
		<notempty name="_list">
		<volist name="_list" id="vo">
		<tr>
			<td class="td_name"><img src="{$vo.pic}" style="width:200px"/></td>
			<td class="td_status">{$vo.name}</td>
			<td class="td_status">{$vo.content}</td>
			<td class="td_create_time">{$vo.create_time}</td>
			<td class="td_update_time">{$vo.update_time}</td>
			<td class="td_done"><include file="Public/button-right" /></td>
		</tr>
		</volist>
		<else/>
		<tr><td colspan="0" class="text-center colspanClass"> aOh! 暂时还没有内容! </td></tr>
		</notempty>
	</tbody>
</table>
</div>