<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({ checkboxClass: 'icheckbox-blue',radioClass: 'iradio-blue',increaseArea: '20%'});
	//数据组装
	CommonJs.FormCheck	= function(FormObj){
			if(CommonJs.Loading){ return false;}
			CommonJs.Loading 	= true;
			CommonJs.SubmitData.first_rate			= $("input[name='first_rate']").val();
			CommonJs.SubmitData.free_rate			= $("input[name='free_rate']").val();
			CommonJs.SubmitData.new_rate			= $("input[name='new_rate']").val();
			CommonJs.SubmitData.status				= rcVal($("input[name='status']"),1);
			CommonJs.SubmitData.id					= $("input[name='id']").val();
			if(!CheckJs.required(CommonJs.SubmitData.first_rate)){
				_inform('请输入首单专区返利比例',function(){CommonJs.Loading = false;});return false;
			}
			if(!CheckJs.required(CommonJs.SubmitData.free_rate)){
				_inform('请输入费试用返利比例',function(){CommonJs.Loading = false;});return false;
			}
			if(!CheckJs.required(CommonJs.SubmitData.new_rate)){
				_inform('请输入新品专区返利比例',function(){CommonJs.Loading = false;});return false;
			}
			CommonJs.Loading = false
			return true;
	};
	//数据提交
	CommonJs.SubmitType	= 1;
	CommonJs.JsSave("#form-member-add");
	//编辑器配置
	//window.UEDITOR_CONFIG.toolbars 				= [[ ]];
	CommonJs.GetEditor();
	//上传插件
	CommonJs.StartUpload();
});
</script>