<div class="mt-5">
<table class="table table-border table-bordered table-bg table-hover table-sort tabwidth">
    <thead>
		<tr class="text-l">
			<th width="20%" data-field="td_phone">用户账号</th>
			<th width="8%" data-field="td_nickname">用户昵称</th>
			<th width="8%" data-field="td_currency">聚蚁币</th>
			<th width="8%" data-field="td_integral">积分</th>
			<th width="8%" data-field="td_create_time">充值时间</th>
			<th width="20%" data-field="td_markers">备注</th>
		</tr>
    </thead>
    <tbody>
		<notempty name="_list">
		<volist name="_list" id="vo">
		<tr>
			<td class="td_phone">{$vo.phone}</td>
			<td class="td_nickname">{$vo.nickname}</td>
			<td class="td_currency">{$vo.currency}</td>
			<td class="td_integral">{$vo.integral}</td>
			<td class="td_create_time">{$vo.create_time|date="Y-m-d H:i:s",###}</td>
			<td class="td_markers">{$vo.markers|default="---"}</td>
		</tr>
		</volist>
		<else/>
		<tr><td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td></tr>
		</notempty>
	</tbody>
</table>
</div>