{if condition="$threePartyplug['uploads'] eq 1"}
<script type="text/javascript" src="/3.0/js/uploadFile.js"></script>
{/if}
{php}
$uploadUrl 	= url('/manage/Uploadfile/uploadImage','num=1&input='.$form['tag'].'&tags='.$form['tag'].'_'.$form['id'].'&func=call_img_back');

$imagePath      = '/3.0/package/webuploader/images/image.png';
$imageId      	= 0;
if(isset($info[$form['tag']]) && !empty($info[$form['tag']]) && is_string($info[$form['tag']]))
{
    $imageStr   = json_decode($info[$form['tag']]);
    $imageId  	= isset($imageStr[0]) ? $imageStr[0] : 0;
    $imagePath  = (isset($imageStr[1]) && !empty($imageStr[1])) ? $imageStr[1] : $imagePath;
}
{/php}
<dl class="row" id="id_{$form.tag}" data-msg="请上传{$form.title}">
	<dt class="tit">
		{if condition="$form['require'] eq 1"}<em>*</em>{/if}
		{$form.title}
	</dt>
	<dd class="opt">
		<div class="upload-images" onclick="GetUploadify('{$uploadUrl}');">
			<img id="image_{$form.tag}" width="150px" src="{$imagePath}" alt="" >
		</div>
		<input type="hidden" name="{$form.tag}" value="{$imageId}">
		<p class="notic">{$form.notice}</p>
	</dd>
</dl>