{/*搜索区域*=============================================================================start*/}
<if condition="$usergroup eq 4">
<form name="searchForm">
	<div class="text-c search-form"> 
		<input type="text" name="redeem_code" placeholder="请输入订单兑换码进行检索" value="{:I('redeem_code')}" style="width:250px" class="input-text search-input">
		<button name="" id="search" url="{:U('index',$extends_param)}" class="btn btn-success" ><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
	</div>
</form>
<else />
<form name="searchForm">
<div class="text-c search-form"> 
订单状态：
	<select class="select search-select" name="status" style="width:80px;height:30px;">
		<option value="" >全部</option>
		<!-- 
		<option value="9" <if condition="$_REQUEST['status'] == 9">selected</if>>已取消</option>
		 -->
		<option value="1" <if condition="$_REQUEST['status'] == 1">selected</if>>待付款</option>
		<option value="4" <if condition="$_REQUEST['status'] == 2">selected</if>>已完成</option>
	</select>
下单时间：
	<input type="text" name="create_time_s" placeholder="请输开始时间" value="{:I('create_time_s')}" onFocus="WdatePicker({maxDate:'#F{ $dp.$D(\'logmax\')||\'%y-%M-%d\'}'})" id="logmin" class="input-text Wdate" style="width:186px;">
	-
	<input type="text" name="create_time_e" placeholder="请输结束时间" value="{:I('create_time_e')}" onFocus="WdatePicker({minDate:'#F{ $dp.$D(\'logmin\')}',maxDate:'%y-%M-%d'})" id="logmax" class="input-text Wdate" style="width:186px;">
	<input type="text" name="order_no" placeholder="请输入订单编号进行检索" value="{:I('order_no')}" style="width:250px" class="input-text search-input">
	<!-- <input type="text" name="phone" placeholder="请输入用户ID进行检索" value="{:I('uid')}" style="width:250px" class="input-text search-input"> -->
	<button name="" id="search" url="{:U('index',$extends_param)}" class="btn btn-success" ><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
    <!-- <span class="btn btn-success" id="export" style="background-color: #428BCA;width:75px;">导出</span> -->
</div>
</form>
<script type="text/javascript">
    //点击导出按钮，执行相关操作
    $("#export").click(function(){
        window.location.href="{:U('Order/index',array('type'=>$line_type,'export_type'=>$line_type))}";    
    });
</script>
</if>
{/*搜索区域=============================================================================end*/}