<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  <script>!function(n){var e=n.document,t=e.documentElement,i=750,d=i/100,o="orientationchange" in n?"orientationchange":"resize",a=function(){var n=t.clientWidth||320;n>750&&(n=750),t.style.fontSize=n/d+"px"};e.addEventListener&&(n.addEventListener(o,a,!1),e.addEventListener("DOMContentLoaded",a,!1))}(window);</script>
  <link rel="stylesheet" href="__CSS__/style1.css">
  <title>支付</title>
</head>
<body>
<header style="text-align:left;"><span style="padding:0.2rem 0.3rem;">{$shop.shop_name}</span></header>
<div class="contain">
  <div class="acc-box">
  	<div class="right">
      <input type="number" name="money" placeholder="请输入支付金额" class="dou-b">
    </div>
    支付金额
  </div>
  <div class="acc-box">
    <div class="right">
      <input type="tel" name="xinlidou" placeholder="请输入鑫利豆数量" class="dou-a">
    </div>
    鑫利豆抵扣<em>(剩余{$user.current_xinlidou})</em>
  </div>
  <div class="acc-box">
    <div class="right">
      <input type="tel" name="xianglidou" placeholder="请输入享利豆数量" class="dou-b">
    </div>
    享利豆抵扣<em>(剩余{$user.current_xianglidou})</em>
  </div>
  <div class="acc-btn">提交</div>
</div>
<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/common.js"></script>
<script>
$(function(){
	$('.acc-btn').on('click',function(){
		var money = $('input[name=money]');
		if(money.val() == ""){
      		webTip("请输入金额");
      		$('input[name=money]').focus();
      		return false;
    	}
	  	var xinlidou = $('input[name=xinlidou]');
	  	var xianglidou = $('input[name=xianglidou]');
		$.ajax({
		    type: 'post',
		    url: '/Home/Order/orderSubmit.html',
		    data: {
		    	shop_id: {$shop.id},
		    	money: money.val(),
		    	xinlidou: xinlidou.val(),
		    	xianglidou: xianglidou.val(),
		    },
		    success: function(e){
		      	if(e.Code != 0){
					webTip(e.Msg);
				}else{
					if(e.Data.money>0){
						window.location.href="/pay/index.php?oid="+e.Data.oid+"&amount="+e.Data.money+"&xinlidou="+e.Data.xinlidou+"&xianglidou="+e.Data.xianglidou; 
					}else{
						window.location.href="/pay/success.html"; 
					}
					
				}
		    }
		})
	})
})
</script>
</body>
</html>