<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({ checkboxClass: 'icheckbox-blue',radioClass: 'iradio-blue',increaseArea: '20%'});
	CommonJs.FormCheck	= function(FormObj){
			if(CommonJs.Loading){ return false;}
			CommonJs.Loading 	= true;
			CommonJs.SubmitData.username	= $("input[name='username']").val();
			CommonJs.SubmitData.password	= $("input[name='password']").val();
			CommonJs.SubmitData.repassword	= $("input[name='repassword']").val();
			CommonJs.SubmitData.email		= $("input[name='email']").val();
			CommonJs.SubmitData.mobile		= $("input[name='mobile']").val();
			CommonJs.SubmitData.shopname	= $("input[name='shopname']").val();
			CommonJs.SubmitData.longitude	= $("input[name='longitude']").val();
			CommonJs.SubmitData.latitude	= $("input[name='latitude']").val();
			if(!CheckJs.required(CommonJs.SubmitData.username)){
				_inform('请输入用户名',function(){CommonJs.Loading = false;});return false;
			}
			if(!CheckJs.rangelength(CommonJs.SubmitData.username,[3,16])){
				_inform('用户名长度必须3-16个字符以内',function(){CommonJs.Loading = false;});return false;
			}
			if(!CheckJs.required(CommonJs.SubmitData.password)){
				_inform('请输入登录密码',function(){CommonJs.Loading = false;});return false;
			}
			if(!CheckJs.rangelength(CommonJs.SubmitData.password,[8,16])){
				_inform('登录密码必须8-16个字符以内',function(){CommonJs.Loading = false;});return false;
			}
			if(!CheckJs.required(CommonJs.SubmitData.repassword)){
				_inform('请输入确认密码',function(){CommonJs.Loading = false;});return false;
			}
			if(CommonJs.SubmitData.password !== CommonJs.SubmitData.repassword){
				_inform('两次密码输入不一致',function(){CommonJs.Loading = false;});return false;
			}
			CommonJs.Loading = false
			return true;
	};
	CommonJs.SubmitType	= 3;
	CommonJs.JsSave("#form-member-add");
});
</script>