<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  <script>!function(n){var e=n.document,t=e.documentElement,i=750,d=i/100,o="orientationchange" in n?"orientationchange":"resize",a=function(){var n=t.clientWidth||320;n>750&&(n=750),t.style.fontSize=n/d+"px"};e.addEventListener&&(n.addEventListener(o,a,!1),e.addEventListener("DOMContentLoaded",a,!1))}(window);</script>
  <link rel="stylesheet" href="__CSS__/style.css">
  <title>邀请</title>
</head>
<body class="invite-blue">
  <div class="invite-contain">
    <img src="__IMG__/i.png" alt="" class="invite-top">
    <div class="invite-box">
      <img src="__IMG__/t1.png" alt="" class="i-title">
      <div class="fen-t">
        <div class="item">
          <h4>成功分享</h4>
          <b>{$count}人</b>
          <img src="__IMG__/m.png" alt="">
        </div>
        <!-- <div class="item">
          <h4>获得奖励</h4>
          <b>0.00</b>
          <img src="__IMG__/g.png" alt="">
        </div> -->
      </div>
      <a href="javascript:;" class="i-link">
        <div class="a"></div>
        <div class="b">立即分享</div>
      </a>
      <!-- <p class="box-text">分享成功可获得200豆</p> -->
    </div>
    <div class="invite-box">
      <img src="__IMG__/t2.png" alt="" class="i-title">
      <ul class="p-list">
      
      <volist name="user" id="vo" key="k" >
        <li>
          <div class="dot">
          	<if condition="$k eq 1">
          	<img src="__IMG__/1.png" alt="">
			<elseif condition="$k eq 2"/>
			<img src="__IMG__/2.png" alt="">
			<elseif condition="$k eq 3"/>
			<img src="__IMG__/3.png" alt="">
			<else />
			{$k}
			</if>
          </div>
          <div class="avatar">
          	<if condition="$vo.avatar neq ''">
          	<img src="{$vo.avatar}" alt="">
          	<else />
          	<img src="__IMG__/h.jpg" alt="">
          	</if>
          </div>
          <div class="name">{$vo.phone}</div>
          <!-- <div class="number">100.00豆</div> -->
        </li>
        </volist>
      </ul>
      <!-- <div class="box-text">每日00点准时更新榜单</div> -->
    </div>
  </div>
  <div class="invite-box">
    <img src="__IMG__/t3.png" alt="" class="i-title">
    <div class="box-con">
      <p>1.规则，一般指由群众共同制定、公认或由代表人统一制定并通过的，由群体里的所有成员一起遵守的条例和章程</p>
      <p>它存在三种形式：明规则、潜规则、元规则，无论何种规则只要违背善恶的道德必须严惩不贷以维护世间和谐；明规则是有明文规定的规则</p>
    </div>
  </div>
  <script src="__JS__/jquery.min.js"></script>
<script>
	var inBrowser = typeof window !== 'undefined';            
  	var UA = inBrowser && window.navigator.userAgent.toLowerCase();
  	var isIOS = UA && /iphone|ipad|ipod|ios/.test(UA);  //是否IOS浏览器
 	$(function(){
		$('.b').on('click',function(){
	      	var strs = JSON.stringify({
	        	title: '{$share.title}',
	        	content: '{$share.content}',
	        	img: '{$share.img}',
	        	url: '{$share.url}',
	    	})
			if(isIOS){  //苹果方法s
		   		window.webkit.messageHandlers.share.postMessage(strs)
		   	}else{
		      	window.android.share(strs);
		 	}
		})
	})
 </script>
</body>
</html>