<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  <script>!function(n){var e=n.document,t=e.documentElement,i=750,d=i/100,o="orientationchange" in n?"orientationchange":"resize",a=function(){var n=t.clientWidth||320;n>750&&(n=750),t.style.fontSize=n/d+"px"};e.addEventListener&&(n.addEventListener(o,a,!1),e.addEventListener("DOMContentLoaded",a,!1))}(window);</script>
  <link rel="stylesheet" href="__CSS__/style.css">
  <title>兑领红包</title>
</head>
<body class='body-red'>
  <div class="red-title"><if condition="$redPacket.id gt 0">红包编号：{$redPacket.packet_date|date="Ymd",###}-{$redPacket.packet_num}<else />今天暂无可领取红包</if></div>
  <div class="red-gg">
    <img src="{$redPacket.pic}" alt="">
  </div>
  <div class="red-tip"><if condition="$redPacket.id gt 0">{$redPacket.shop_name}红包<else />今天暂无可领取红包</if></div>
  <img src="__IMG__/red-b.png" alt="" class="red-b">
  <if condition="$redPacket.id gt 0">
  <div class="red-exchenge red-packet-exchenge">
    <div class="a"></div>
    <div class="b">点击兑领红包</div>
  </div>
  <else />
  <div class="red-exchenge">
    <div class="a" style="background:#ccc;"></div>
    <div class="b" style="background:#ccc;color:#999;">暂无红包领取</div>
  </div>
  </if>
  <div class="red-pop">
    <div class="pop-bg"></div>
    <div class="red-con">
      <img src="__IMG__/gold.png" alt="" class="coming">
      <p class="coming1">恭喜！成功兑换{$redPacket.num}{$redPacket.type_name}</p>
    </div>
  </div>
  <script src="__JS__/jquery.min.js"></script>
  <script src="__JS__/common.js"></script>
  <script>
	$(function(){
      	$(".red-packet-exchenge").on('click',function(){
      		$.ajax({
      			type: 'get',
      		    url: '/Home/Index/getRedPacket',
      		    data: {
      		    	id: "{$redPacket.id}"
      		    },
      		  	dataType : 'json', 
      		    success: function(e){
      				if(e.Code != 0){
      					webTip(e.Msg);
      				}else{
      					$('.red-pop').fadeIn(200);
      				}
      		  		console.log(e)
      		    },
     		})	    	  
        	//
        	$(".red-pop").on('click',function(){
          		$('.red-pop').fadeOut(200);
        	})
		})
	})
  </script>
</body>
</html>