<extend name="Public/common"/>
<block name="title"></block>
<block name="heardercss"></block>
<block name="hearderjs"></block>
<block name="login"></block>
<block name="main">
<include file="Currency/parts/index-nav" />
<div class="page-container">
	<include file="Currency/parts/index-search" />
	<div class="mt-5">
		<table class="table table-border table-bordered table-bg table-hover table-sort tabwidth">
		    <thead>
				<tr class="text-l">
					<th width="25%" style="line-height: 35px;">累计聚蚁币总计(<span style="color:red">{$data.total_currency}</span>)<br>可用聚蚁币总计(<span style="color:green">{$data.current_currency}</span>)</th>
					<th width="25%" style="line-height: 35px;">会员使用数量总计(<span style="color:red">{$data.used_currency}</span>)<br>会员未使用数量(<span style="color:green">{$data.using_currency}</span>)</th>
				</tr>
		    </thead>
		</table>
	</div>
	<include file="Currency/parts/index-button" />
	<include file="Currency/parts/index-lists" />
	<include file="Currency/parts/index-button" />
</div>
</block>
<block name="footjs">
<include file="Currency/parts/index-js" />
</block>