<extend name="Public/common"/>
<block name="main">
<div class="page-container">
	<p class="f-20 text-success">欢迎使用{:C('XNRCMS')} <span class="f-14">v{:C('XNRCMS_VAR')}</span></p>
	<p>登录次数：{$minfo['login']|default='0'} </p>
	<p>上次登录IP：{$minfo['last_login_ip']|default='首次登录'}  上次登录时间：<notempty name="minfo['last_login_time']">{$minfo['last_login_time']|default='无'}</notempty></p>
	
	<table class="table table-border table-bordered table-bg mt-20">
		<thead>
			<tr>
				<th colspan="2" scope="col">服务器信息</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>服务器计算机名</td>
				<td><span id="lbServerName">{$info.hostname}</span></td>
			</tr>
			<tr>
				<td>服务器IP地址</td>
				<td>{$info.hostip}</td>
			</tr>
			<tr>
				<td>服务器域名</td>
				<td>{$info.hostdomain}</td>
			</tr>
			<tr>
				<td>服务器端口 </td>
				<td>{$info.hostport}</td>
			</tr>
			<tr>
				<td>运行环境 </td>
				<td>{$info.hostenv}</td>
			</tr>
			<tr>
				<td>服务器操作系统 </td>
				<td>{$info.hostsys}</td>
			</tr>
			<tr>
				<td>服务器脚本超时时间 </td>
				<td>{$info.php_ext_time}秒</td>
			</tr>
			<tr>
				<td>服务器的语言种类 </td>
				<td>{$info.hostlang}</td>
			</tr>
			<tr>
				<td>PHP运行方式 </td>
				<td>{$info.php_ext_type}</td>
			</tr>
			<tr>
				<td>服务器当前时间 </td>
				<td>{$info.hosttime}</td>
			</tr>
			<tr>
				<td>上传附件限制 </td>
				<td>{$info.php_upload}</td>
			</tr>
			<tr>
				<td>剩余空间 </td>
				<td>{$info.sys_space}</td>
			</tr>
			<tr>
				<td>register_globals </td>
				<td>{$info.register_globals}</td>
			</tr>
			<tr>
				<td>magic_quotes_gpc</td>
				<td>{$info.magic_quotes_gpc}</td>
			</tr>
			<tr>
				<td>magic_quotes_runtime </td>
				<td>{$info.magic_quotes_runtime}</td>
			</tr>
		</tbody>
	</table>
</div>
</block>
<block name="footjs"></block>