<extend name="Public/common"/>
<block name="title"></block>
<block name="heardercss"></block>
<block name="hearderjs"></block>
<block name="login"></block>
<block name="main">
<include file="ApiLogs/parts/index-nav" />
<div class="page-container">
	<include file="ApiLogs/parts/index-search" />
	<include file="ApiLogs/parts/index-button" />
	<include file="ApiLogs/parts/index-lists" />
	<include file="ApiLogs/parts/index-button" />
</div>
</block>
<block name="footjs">
<include file="ApiLogs/parts/index-js" />
</block>