<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({ checkboxClass: 'icheckbox-blue',radioClass: 'iradio-blue',increaseArea: '20%'});
	//数据组装
	CommonJs.FormCheck	= function(FormObj){
			if(CommonJs.Loading){ return false;}
			CommonJs.Loading 	= true;
			CommonJs.SubmitData.name				= $("input[name='name']").val();
			CommonJs.SubmitData.standard			= $("input[name='standard']").val();
			CommonJs.SubmitData.tstandard			= $("input[name='tstandard']").val();
			CommonJs.SubmitData.rate				= $("input[name='rate']").val();
			CommonJs.SubmitData.id					= $("input[name='id']").val();	
			if(!CheckJs.required(CommonJs.SubmitData.name)){
				_inform('请输入等级名称',function(){CommonJs.Loading = false;});return false;
			}
			CommonJs.Loading = false
			return true;
	};
	//数据提交
	CommonJs.SubmitType	= 1;
	CommonJs.JsSave("#form-member-add");
	//编辑器配置
	//window.UEDITOR_CONFIG.toolbars 				= [[ ]];
	CommonJs.GetEditor();
	//上传插件
	CommonJs.StartUpload();
});
</script>