<extend name="Common:base" />

<block name="title">编辑友谊链接</block>

<block name="menu">
	<include file="System:menu" />
</block>

<block name="main">
	 <div class="pageheader">
	    <h1 class="pagetitle">编辑友谊链接</h1>
	    <span class="pagedesc"></span>
	</div>
	<div id="contentwrapper" class="contentwrapper">
	<form action="{:U('System/editFriendshipLink')}" method="post" class="stdform">
		<input type="hidden" id="id" name="id" value="{:remove_xss(I('get.id'))}" />
		<p>
			<label>链接名称</label>
			<span class="field">
				<input type="text" name="link_name" id="link_name" class="smallinput" value="{$friendshipLinkInfo['link_name']}" />
			</span>
		</p>
		<p>
			<label>LOGO</label>
			<span class="field">
				<img id="img" src="{$friendshipLinkInfo['logo']}" width="125px" height="50px" />
				<br />
				<input type="hidden" name="logo" id="logo" value="{$friendshipLinkInfo['logo']}" />
				<input type="file" name="logobut" id="logobut" class="smallinput" />
			</span>
		</p>
		<p>
			<label>网址</label>
			<span class="field">
				<input type="text" name="link" id="link" value="{$friendshipLinkInfo['link']}" class="smallinput" />
			</span>
		</p>
		<p>
			<label>是否禁用</label>
			<span class="field">
				<input type="radio" name="is_lock" value="0"<if condition="$friendshipLinkInfo['is_lock'] EQ 0">{:chr(32)}checked="checked"</if> /> 否
				<input type="radio" name="is_lock" value="1"<if condition="$friendshipLinkInfo['is_lock'] EQ 1">{:chr(32)}checked="checked"</if> /> 是
			</span>
		</p>
		<p>
			<label></label>
			<span class="field">
				<input type="submit" value="保存" class="stdbtn" />
				<input type="button" onclick="window.history.back(-1);" value="返回" class="stdbtn" />
			</span>
		</p>
	</form>
	</div>
</block>

<block name="script">
<script type="text/javascript" src="__PUBLIC__/Admin/js/ajaxfileupload.js"></script>
<script type="text/javascript">
	$(function() {
		// 上传图片
		$(document).on('change', '#logobut', function() {
			ajaxFileUpload();
		});

		function ajaxFileUpload() {
			$.ajaxFileUpload({
				url: "{:U('System/photoSave')}",
				secureuri: false,
				fileElementId: 'logobut',
				dataType: 'json',
				success: function (data, status) {
					if(data.error != '') {
						alert(data.error);
					} else {
						$("#img").attr('src', data.src);
						$("#logo").val(data.src);
					}
				},error: function (data, status, e) {
					var html='<div class="title">提示</div><div>' + e + '</div>';
					popbox(html);
				}
			})
			return false;
		}
	});
</script>

</block>