<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  <script>!function(n){var e=n.document,t=e.documentElement,i=750,d=i/100,o="orientationchange" in n?"orientationchange":"resize",a=function(){var n=t.clientWidth||320;n>750&&(n=750),t.style.fontSize=n/d+"px"};e.addEventListener&&(n.addEventListener(o,a,!1),e.addEventListener("DOMContentLoaded",a,!1))}(window);</script>
  <link rel="stylesheet" href="__CSS__/style1.css">
  <title>注册</title>
</head>
<body>
<header>
  注册
  <a href="javascript:history.go(-1)" class="back">
    <img src="__IMG__/back.png" alt="">
  </a>
</header>
<div class="contain">
  <div class="bind-form">
     <div class="item">
       <input type="tel" name="reg_tel" placeholder="请输入您的手机号" class="tel-input">
     </div>
     <div class="item code">
       <input type="tel" name="reg_code" placeholder="请输入您的验证码" class="code-input">
       <div class="get-code get-code-btn">发送验证码</div>
     </div>
     <div class="item">
       	<input name="code" placeholder="请输入您的邀请码" class="y-input">
     </div>
     <div style="font-size:11px;color:#999;margin-top:5px;">
     	若无推荐人，请输入公司邀请码311999
     </div>
     <div class="login-btn">确定</div>
  </div>
</div>

<iframe id="geoPage" width=0 height=0 frameborder=0  style="display:none;" scrolling="no"
    src="https://apis.map.qq.com/tools/geolocation?key=OB4BZ-D4W3U-B7VVO-4PJWW-6TKDJ-WPB77&referer=myapp">
</iframe>

<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/common.js"></script>
<script>
var TIMER = 30;
var telReg = /^1([3-9][0-9])\d{8}$/;
//获取验证码
;(function(){
	$('.get-code-btn').on('click',function(){
    	var tel = $('input[name=reg_tel]').val();
    	if(tel==""){
      		webTip("请输入手机号");
      		$('input[name=reg_tel]').focus();
      		return false;
    	}
    	if(!telReg.test(tel)){
      		webTip("手机号不正确");
      		$('input[name=reg_tel]').focus();
      		return false;
    	}
    	var num = TIMER;
    	var that = $(this);
    	getCode(tel); //发送请求
    	that.attr("disabled",true);
    	secLess();
    	var time = setInterval(function(){
      		secLess()
    	},1000)
    	function secLess(){
      		if(num>0){
        		that.text(num+"s");
        		num--;
      		}else{
        		clearInterval(time);
         		that.text('获取验证码');
         		that.removeAttr('disabled');
      		}
    	}
  	})
})();

 
// 请求验证码函数
function getCode(mobile){
  var URL = '/Home/User/sendCode';
  $.ajax({
    type: 'post',
    url: URL,
    data: {
    	mobile: mobile,
    	type: 1
    },
    success: function(e){
		if(e.Code != 0){
			webTip(e.Msg);
		}else{
			webTip(e.Msg);
		}
      	console.log(e)
    },
  })
}

var longitude;
var latitude;

$(".login-btn").on("click",function(){
	var telBox = $('input[name=reg_tel]');
  	var codeBox = $('input[name=reg_code]');
  	var code = $('input[name=code]');
  	if(telBox.val() == ''){
    	webTip("请输入手机号",function(){
      		telBox.focus();
    	});
    	return false;
  	}
  	if(codeBox.val() == ''){
    	webTip("请输入短信验证码",function(){
      		codeBox.focus();
    	});
    	return false;
  	}
  	if(code.val() == ''){
    	webTip("请输入邀请码",function(){
      		codeBox.focus();
    	});
    	return false;
  	}
  	//提交注册
  	$.ajax({
    	type: 'post',
    	url: '/Home/User/register',
    	data: {
    		mobile: telBox.val(),
    		checkcode: codeBox.val(),
    		code: code.val(),
    		longitude: longitude,
    		latitude: latitude
    	},
    	success: function(e){
			console.log(e);
	      	if(e.Code != 0){
				webTip(e.Msg);
			}else{
				
				//window.location.href="/Home/Order/index.html?shop_id={$Think.session.shop_id_string}"; 
			}
    	}
  	})
})





window.addEventListener('message', function(event) {
    // 接收位置信息
    var loc = event.data;
    console.log('location', loc);
    longitude = loc.lng;
    latitude = loc.lat;
}, false);







</script>
</body>
</html>