<eq name="field['extra']" value="hotel_facilities"><include file="Custommade/custom/hotel_facilities"/></eq>
<eq name="field['extra']" value="industry_scope"><include file="Custommade/custom/industry_scope"/></eq>
<eq name="field['extra']" value="line_scenicid"><include file="Custommade/custom/line_scenicid"/></eq>
<eq name="field['extra']" value="ranges_select"><include file="Custommade/custom/ranges_select"/></eq>
<eq name="field['extra']" value="select_foods_cat"><include file="Custommade/custom/select_foods_cat"/></eq>
<eq name="field['extra']" value="select_hoteltype"><include file="Custommade/custom/select_hoteltype"/></eq>
<eq name="field['extra']" value="select_hotel_service_cat"><include file="Custommade/custom/select_hotel_service_cat"/></eq>
<eq name="field['extra']" value="select_ktv_cat"><include file="Custommade/custom/select_ktv_cat"/></eq>
<eq name="field['extra']" value="select_ktv_times"><include file="Custommade/custom/select_ktv_times"/></eq>
<eq name="field['extra']" value="select_material"><include file="Custommade/custom/select_material"/></eq>
<eq name="field['extra']" value="shop_support"><include file="Custommade/custom/shop_support"/></eq>
<eq name="field['extra']" value="tickets_scenicid"><include file="Custommade/custom/tickets_scenicid"/></eq>
<eq name="field['extra']" value="work_time"><include file="Custommade/custom/work_time"/></eq>
