{/*搜索区域*=============================================================================start*/}
<form name="searchForm">
<div class="text-c search-form">
	<input type="text" name="find_keyword" value="{:I('find_keyword')}" id="" placeholder="请输入手机号码/用户名进行检索" style="width:250px" class="input-text search-input">
	<button name="" id="search" url="{:U('',$extends_param)}" class="btn btn-success" ><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
</div>
</form>
{/*搜索区域=============================================================================end*/}