<div class="mt-5">
<table class="table table-border table-bordered table-bg table-hover table-sort tabwidth">
    <thead>
		<tr class="text-l">
			<th width="2%" data-field="td_id" title="ID"><input type="checkbox" id="selectid_0"></th>
			<th width="15%" data-field="td_bill_no">交易单号</th>
			<th width="12%" data-field="td_uid">用户ID</th>	
			<th width="12%" data-field="td_username">用户名</th>	
			<th width="12%" data-field="td_num">体现次数</th>		
			<th width="12%" data-field="td_type">银行</th>
			<th width="8%" data-field="td_money">提现金额</th>
			<th width="12%" data-field="td_create_time">交易时间</th>
			<th width="8%" data-field="td_done">操作</th>
		</tr>
    </thead>
	<tbody>
		<notempty name="_list">
		<volist name="_list" id="vo">
		<tr>
            <td class="td_id" title="{$vo.id}"><input type="checkbox" value="{$vo['id']}" name="ids[]" id="selectid_{$vo['id']}"></td>
			<td class="td_bill_no">{$vo.bill_no}</td>
			<th class="td_uid">{$vo.uid}</th>
			<th class="td_username">{$vo.username}</th>
			<th class="td_num">{$vo.anum}</th>
			<th class="td_type">{$vo.bank}</th>
			<td class="td_money">￥{$vo.money}</td>
			<td class="td_create_time">{$vo.create_time}</td>
			<td class="td_done"><include file="Public/button-right"/></td>
		</tr>
		</volist>
		<else/>
		<tr><td colspan="0" class="text-center colspanClass"> aOh! 暂时还没有内容! </td></tr>
		</notempty>
	</tbody>
</table>
</div>