{/*按钮区域=============================================================================start*/}
<div class="cl pd-5 bg-1 bk-gray mt-20">
	<span class="l">
		<a class="btn btn-primary radius" onClick="return CommonJs.JsAdd(2,'添加接口','{:U('add')}');" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i>添加接口</a>
		<a href="javascript:;" onClick="CommonJs.JsStatus(0,'{:U(del)}',4)" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
	</span>
	<span class="r page">{$_page}</span>
</div>
{/*按钮区域*=============================================================================end*/}