<div class="mt-5">
<table class="table table-border table-bordered table-bg table-hover table-sort tabwidth">
    <thead>
		<tr class="text-l">
			<th width="2%" data-field="td_id"><input type="checkbox" id="selectid_0"></th>
			<th width="25%" data-field="td_name">接口名称</th>
			<th width="30%" data-field="td_parames">接口参数</th>
			<th width="20%" data-field="td_apidesc">接口描述</th>
			<th width="10%" data-field="td_create_time">添加时间</th>
			<th width="10%" data-field="td_done">操作</th>
		</tr>
    </thead>
	<tbody>
		<notempty name="_list">
		<volist name="_list" id="vo">
		<tr>
            <td class="td_id"><input type="checkbox" value="{$vo['id']}" name="ids[]" id="selectid_{$vo['id']}"></td>
			<td class="td_name"><a href="javascript:;" onClick="return CommonJs.JsEdit(2,'接口调试','{:U('debug?id='.$vo['id'])}')">{$vo.name}</a></td>
			<td class="td_parames">{$vo.parames}<br>{$vo.parames_hash}</td>
			<td class="td_apidesc">{$vo.apidesc}</td>
			<td class="td_create_time">{$vo.create_time}</td>
			<td class="td_done td-manage">
				<a href="javascript:;" onClick="return CommonJs.JsEdit(2,'接口调试','{:U('debug?id='.$vo['id'])}')" title="调试">调试</a>
				<a style="text-decoration:none" class="ml-5" onClick="return CommonJs.JsEdit(2,'接口编辑','{:U('edit?id='.$vo['id'])}')" href="javascript:;" title="接口编辑">编辑</a>
				<a style="text-decoration:none" class="ml-5" onClick="CommonJs.JsStatus('{$vo['id']}','{:U(del)}',4)" href="javascript:;" title="删除">删除</a>
			</td>
		</tr>
		</volist>
		<else/>
		<tr><td colspan="6" class="text-center"> aOh! 暂时还没有内容! </td></tr>
		</notempty>
	</tbody>
</table>
</div>