<extend name="Public/common"/>
<block name="title"></block>
<block name="heardercss"></block>
<block name="hearderjs"></block>
<block name="login"></block>
<block name="main">
<include file="MemberFinance/parts/user-nav" />
<div class="page-container">
	<include file="MemberFinance/parts/user-search" />
	<include file="MemberFinance/parts/user-button" />
	<include file="MemberFinance/parts/user-lists" />
	<include file="MemberFinance/parts/user-button" />
</div>
</block>
<block name="footjs">
<include file="MemberFinance/parts/user-js" />
</block>