<extend name="Public/edit"/>
<block name="listname">
<div class="main-title"><h2>{$operate}分类</h2></div>
</block>
<block name="editcontent">
	<div class="tab-wrap">
		<div class="tab-content">
			<form action="{:U($type)}" method="post" class="form-horizontal">
				<div id="tab1" class="tab-pane in tab1">
					<div class="form-item">
						<label class="item-label">目标分类<span class="check-tips">（将{$operate}至的分类）</span></label>
						<div class="controls">
							<select name="to">
								<volist name="list" id="vo">
									<option value="{$vo.id}">{$vo.title}</option>
								</volist>
							</select>
						</div>
					</div>
				</div>

				<div class="form-item">
					<input type="hidden" name="from" value="{$from}">
				</div>
			</form>
		</div>
	</div>
</block>

