<notempty name="tree">
<volist name="tree" id="vo">
	<dl class="cate-item">
		<dt class="cf">
			<form action="{:U('edit')}" method="post">
				<div class="check"><input type="checkbox" value="{$vo.id}" name="ids[]" id="selectid_{$vo.id}"></div>
				<div class="fold"><i></i></div>
				<div class="name">
					<span class="tab-sign"></span>
					<input type="hidden" name="id" value="{$vo.id}">
					<input type="hidden" name="ac" value="ajaxEditTitle">
					<input type="text" name="name" class="text" value="{$vo.name}">
					<a class="add-sub-cate" title="添加子分类" onclick="return layer_show('新增','{:U('Category/add','pid='.$vo['id'].$extends_param)}',800,500);">
						<if condition="$vo.pid eq 0">
						<i class="icon-add"></i>
						</if>
					</a>
					<span class="help-inline msg"></span>
				</div>
				<div class="order"><input type="text" name="sort" class="text input-mini" value="{$vo.sort}"></div>
				<div class="status">{$vo.status_text}</div>
				<div class="btn-toolbar opt-btn cf mydo"><include file="Public/button-right" /></div>
			</form>
		</dt>
		<notempty name="vo['_']">
			<dd>
				{:R('Category/tree', array($vo['_']))}
			</dd>
		</notempty>
	</dl>
</volist>
</notempty>