<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({ checkboxClass: 'icheckbox-blue',radioClass: 'iradio-blue',increaseArea: '20%'});

	//数据组装
	CommonJs.FormCheck	= function(FormObj){
			if(CommonJs.Loading){ return false;}
			CommonJs.Loading 	= true;
			CommonJs.SubmitData.status					= rcVal($("input[name='status']"),1);
			CommonJs.SubmitData.id						= $("input[name='id']").val();
			if(CommonJs.SubmitData.status<=0){
				_inform('请选择审核状态',function(){CommonJs.Loading = false;});return false;
			}
			CommonJs.Loading = false
			return true;
	};
	//数据提交
	CommonJs.JsSave("#form-member-add");
	//编辑器配置
	//window.UEDITOR_CONFIG.toolbars 				= [[ ]];
	//CommonJs.GetEditor();
	//上传插件
	//CommonJs.StartUpload();
});
</script>