<extend name="Public/common"/>
<block name="title"></block>
<block name="heardercss"></block>
<block name="hearderjs"></block>
<block name="login"></block>
<block name="main">
{/*其值范围为1-12*/}
<php>
$col_sm1		= 2;
$col_sm2		= 10;

$col_xs1		= 4;
$col_xs2		= 8;

$col_xs3		= 2;
$col_sm3		= 10;

$col_xs_offset1	= 10;
$col_sm_offset1	= 2;
</php>
<div class="page-container">
	<form action="{:U()}" method="post" class="form form-horizontal" id="form-member-add">
		<include file="GoodsParameters/parts/addedit-form" />
	</form>
</div>
</block>
<block name="footjs">
<include file="GoodsParameters/parts/addedit-js" />
</block>