<form action="{:U('GoodsAttribute/add')}" method="post" class="form form-horizontal" id="form-member-add">
<div class="text-c search-form"> 
规格名：
<input type="text" name="avalue" placeholder="请输规格名" value="" class="input-text" style="width:150px;">
售价：<input type="text" name="price" placeholder="请输价格(售价)" value="" class="input-text" style="width:150px;">
库存：<input type="text" name="stock" placeholder="请输库存" value="" class="input-text" style="width:150px;">
<input type="hidden" name="gid"  value="{$gid}" class="input-text">
	<button class="btn btn-secondary radius" type="submit" ><i class="Hui-iconfont">&#xe632;</i>添加</button>
</div>
</form>